body	{ 
background: url("C:/Users/JACK/Desktop/project_panda/assets/panda_backround.jpg") no-repeat center center fixed;
background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
-webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
-moz-background-size: cover; /* optional for Firefox 3.6 */ 
-o-background-size: cover; /* for Opera 9.5 */
margin: 0; /* to remove the default white margin of body */
padding: 0; /* to remove the default white margin of body */
overflow: hidden;
color: #808080;
}
		
h1	{color: #808080;}

p	{color: #808080;}

header{backround: #ffffff;}

header:: after {
	content: '':
	display: table;
	clear: both;
}
.logo {
	float: left;
}

nav{
	float: right
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px
	padding top: 25px
	padding-bottom: 200px
	
	postion: relative
}

nav a {
	color: #000000
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px
}

nav a:hover {
color: #000000
}

nav a:hover::before {
	width: 100%;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width:100%
	background-color: #ffffff;
	
	position; absolute
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
	
}